<div style="margin: 20%; width:50%">
    <div style="text-align: center; margin-top: auto;" >
        <div class="fab fa fa-fire fa-7x"></div>
        <div style="font: 8em sans-serif;">
            404
        </div>
        <p style="font: 1.8em sans-serif;">This page does not exist.</p>
        <b style="font: 1.5em sans-serif;"><a href="/login">Home</a></b>
    </div>
</div>
<%- include ('./include/footer')%>
