<div style="height:1000px; min-height: 400px;">
        <div class="welcome background">
            <div class="row mt-2">
                <div class="col-md-6 m-auto">
                    <div class="card card-body text-center mt-5 welcome transbox text">
                            <h1><i class="fab fa fa-fire fa-2x"></i><br></h1>
                            <h1>Matcha</h1>
                            <p>Create an account or login</p>
                            <a href="/register" class="btn btn-primary btn-block mb-2"
                                >Register</a>
                        <a href="/login" class="btn btn-secondary btn-block">Login</a>
                    </div>
                </div>
            </div>
        </div>
</div>